# Development and CI/CD config
.github

# Optional eslint cache
.eslintcache

# eslint config
.eslintrc.json

# Documentation
images/
public

# Test files
src/**/*.test.js
src/constants/test-constants.js

# Data
# exclude mode data
data/**
dist/data/**

# Local sqlite db
url2green.db
url2green.json

# don't track workspace files
*.vscode
*.code-workspace

# don't publish IIFE files, will commit these to git for people who need them
dist/iife/**

# don't publish the src folder, that code can be found on github
src/**

## ignore the fixup file
fixup

## don't publish the dotfiles
.*