# Development and CI/CD config
.github

# Optional eslint cache
.eslintcache

# eslint config
.eslintrc.json

# Documentation
images/

# Test files
src/**/*.test.js

# Data
# exclude mode data
data/

# but include the output js / json files
!data/output/
# and include the minimized versions
!src/data/

# Local sqlite db
url2green.db
url2green.json
